@using System.Reflection.Emit
@model TestSystem.ViewModels.TestAdministration.TestViewModel
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<h1>Test properties</h1>

<div id="propertiesForm">
    <div>
        @Html.Label("Name: ")
        @Html.DisplayFor(modelItem => Model.Name)
    </div>
    <div>
        @Html.Label("Duration: ")
        @Html.DisplayFor(modelItem => Model.Duration)
    </div>
    <div>
        @Html.Label("Finished tests: ")
        @Html.DisplayFor(modelItem => Model.FinishedTests)
    </div>
    <div>
        @Html.Label("Test end: ")
        @Html.DisplayFor(modelItem => Model.TestEnd)
    </div>
</div>
 