@model TestSystem.ViewModels.TestAdministration.TestTemplatesViewModel
<h1>Test properties</h1>

<div id="propertiesForm">
    @using (Html.BeginForm())
    {
        <div>
            <fieldset>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.EditorFor(m => m.Name)
                </div>
                @*<div class="form-group">
                    @Html.LabelFor(m => m.Language)
                    @Html.EditorFor(m => m.Language)
                </div>*@
                <div class="form-group">
                    <p>
                        <input type="submit" value="Save changes" />
                    </p>
                </div>
            </fieldset>
        </div>
    }
    @using (Html.BeginForm("Upload", "TestAdministration", new {testId = Model.TestId}, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <input type="file" id="dataFile" name="upload"/>
        </div>

        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-default"/>
        </div>
    }
    @Html.ActionLink("Activate test", "ActivateTest", "TestAdministration", new { @id = "testActivateDialog" })
    @using (Html.BeginForm("ActivateTest", "TestAdministration", new {testId = Model.TestId}))
    {
        <div class="form-group">
            <input type="submit" value="Activate test" class="btn btn-default"/>
        </div>
    }
</div>
<div id="dialog" style="display: none">
</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).on("click", "#testActivateDialog", function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        $("#dialog").dialog({
            title: 'Add Test',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 500,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog('close');
            }
        });
        $("#dialog").dialog('open');
        return false;
    });

</script>
