@model TestSystem.ViewModels.TestAdministration.AssignTestPartialViewModel
@Styles.Render("~/Content/TableStyle.css")
@Styles.Render("~/Content/AssignTest.css")

@using (Ajax.BeginForm("AssignTestPartial", "TestAdministration", null, new AjaxOptions
{
    OnSuccess = "onSuccess()",
    UpdateTargetId = "create-new-user-helper",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}, new { @class = "create-new-user" }))
{
    <h1>
        Assign Test: @Model.TestName
        @Html.HiddenFor(model => model.TestId)
        <button onclick="CloseCreateUser()">
            <svg viewBox="0 0 24 24">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
            </svg>
        </button>
    </h1>

    <div class="test-statics-table">
        <header>
            <nav>
                <h1>User List</h1>
            </nav>
            <ul>
                <li>
                    <label>
                        <input type="checkbox" />
                    </label>
                </li>
                <li>Firstname Lastname</li>
                <li>
                    <select>
                        <option>Group Name</option>
                    @foreach (var group in Model.UserModel)
                    {
                        <option>@group.Group</option>
                    }
                    </select>
                </li>
            </ul>
        </header>
        <ul class="t-s-table-main">
        @foreach (var user in Model.UserModel)
        {
            if (user.Role != "Admin")
            {
            <li>
                <div>
                    <label>
                        <input type="checkbox" name="usersIds" value="@user.UserId" />
                    </label>
                </div>
                <div>@user.FirstName @user.Lastname</div>
                <div>@user.Group</div>
            </li>
            }
        } 
        </ul>
        <footer>
            <div>1-10 of 100</div>
            <div>
                <svg viewBox="0 0 24 24">
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                </svg>
                <svg viewBox="0 0 24 24">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                </svg>
            </div>
        </footer>
    </div>
    <button type="submit">assign</button>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/AssignTest.js")  

