@model TestSystem.ViewModels.TestAdministration.AssignTestPartialViewModel
@{
    Layout = "";
}

@Styles.Render("~/Content/AssignTest.css")

@using (Ajax.BeginForm("AssignTestPartial", "TestAdministration", null, new AjaxOptions
{
    OnSuccess = "onSuccess()",
    UpdateTargetId = "create-new-user-helper",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}, new { @class = "create-new-user" }))
{
    <h1>
        Assign Test: @Model.Name
        <button onclick="CloseCreateUser()">
            <svg viewBox="0 0 24 24">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
            </svg>
        </button>
    </h1>

    <input type="datetime-local"></input>
    <input placeholder="Test Time In Minutes"></input>

    <div class="user-list-table">

        <div class="user-list-table-controler">
            <label>0 items selected</label>
        </div>
        <div class="user-list-table-header">
            <div>
                <input type="checkbox" />
                <label>Select All</label>
            </div>
            <select>
                <option>Group Name</option>
            @foreach (var group in Model.UserModel)
            {
                <option>@group.Group</option>
            }
            </select>
        </div>
        @foreach (var user in Model.UserModel)
        {
        <div class="user-list-item-holder">
            <div class="user-list-table-item">
                <div>
                    <input type="checkbox" />
                    <label>@user.FirstName @user.Lastname</label>
                </div>
                <label>@user.Group</label>
            </div>
        </div>
        }
    </div>
    <button type="submit">assign</button>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/AssignTest.js")  

