@using PagedList.Mvc
@model PagedList.IPagedList<TestSystem.ViewModels.TestAdministration.TestStatisticsQuestionViewModel>

<div class="test-statics-table-questions">
    <header>
        <nav>
            <h1>User List</h1>
        </nav>
    </header>
    <ul class="t-s-table-questions-main" style="overflow:scroll;max-width:1000px;max-height:800px">
        <nav>
            <li>Firstname Lastname</li>
            @foreach (var user in Model)
            {
                <li>@user.UserTestAnswer.FirstName @user.UserTestAnswer.LastName</li>
            }
            <li>
                <p>Subtotal</p>
                <div>
                    <div>Good</div>
                    <div>Bad</div>
                </div>
            </li>
        </nav>
        <li>
            <ul>
                @for (var a = 1; a < Model[0].QuestionModel.Count + 1; a++)
                {
                    <li>
                        Question @a
                        <span class="tool-tip">@Model[0].QuestionModel[a - 1].Name</span>
                    </li>
                }
            </ul>
            @foreach (var user in Model)
            {
                <ul>
                    @foreach (var userAnswer in user.Answer)
                    {
                        if (userAnswer == null || userAnswer.IsCorrect == 0)
                        {
                            <li>0</li>
                        }
                        else
                        {
                            <li>@userAnswer.IsCorrect</li>
                        }
                    }
                </ul>
            }
            <ul>
                @foreach (var questions in Model[0].QuestionModel)
                {
                    <li>@Model[0].QuestionTotalGood[questions.Name]</li>
                }
            </ul>
            <ul></ul>
        </li>

    </ul>
    <footer>
        <div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) - @Model.PageCount</div>
        <div>
            @Html.PagedListPager(Model, page => Url.Action("TestStatisticsQuestion",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.Minimal)
        </div>
    </footer>
</div>

<script type="text/javascript">
    var totalUserAnswers = @Model[0].TotalUserAnswers;
</script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/TestStatisticsQuestion.js")
