@model PagedList.IPagedList<TestSystem.ViewModels.TestAdministration.UserTestQuestionStatisticsModel>

<div class="test-statics-table-questions">
    <header>
        <nav>
            <h1>User List</h1>
        </nav>
    </header>
    <ul class="t-s-table-questions-main">
        <nav>
            <li>Firstname Lastname</li>
        @foreach (var user in Model)
        {
            <li>@user.FirstName @user.LastName</li>
        }
            <li>
                <p>Subtotal</p>
                <div>
                    <div>Good</div>
                    <div>Bad</div>
                </div>
            </li>
        </nav>
        <li>
            <ul>
            @foreach (var question in Model[0].QuestionModel)
            {
                <li>
                    Question 1
                    <span class="tool-tip">@question.Name</span>
                </li>
            }
            </ul>
            @foreach (var user in Model)
            {
            <ul>
                @foreach (var userAnswer in user.UserAnswers) {
                    <li>@userAnswer.Answer.IsCorrect</li>
                }
            </ul>
            }
            <ul>
                <li>10</li>
                <li>5</li>
                <li>4</li>
                <li>10</li>
                <li>8</li>
            </ul>
            <ul>
                <li>2</li>
                <li>1</li>
                <li>10</li>
                <li>5</li>
                <li>4</li>
            </ul>
        </li>

    </ul>
    <footer>
        <div>1-10 of 100</div>
        <div>
            <svg viewBox="0 0 24 24">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
            <svg viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/TestStatisticsQuestion.js")
