@using PagedList.Mvc
@model PagedList.IPagedList<TestSystem.ViewModels.TestAdministration.UsersScoresViewModel>

<div class="test-statics-table">
    <header>
        <nav>
            <h1>User List</h1>
        </nav>
        <ul>
            <li>Firstname</li>
            <li>Lastname</li>
            <li>Score</li>
            <li>Time</li>
            <li>Position</li>
        </ul>
    </header>
    <ul class="t-s-table-main">
        @foreach (var user in Model)
        {
            if (user.Time.TotalSeconds != 0)
            {
                <li>
                    <div>@user.FirstName</div>
                    <div>@user.LastName</div>
                    <div>@user.Score</div>
                    <div>@user.Time.ToString(@"mm\:ss")</div>
                    <div>@user.Position</div>
                </li>
            }
        }
    </ul>
    <footer>       
        <div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) - @Model.PageCount</div>
        <div>
            @Html.PagedListPager(Model, page => Url.Action("TestStatisticsUsers",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.Minimal)
        </div>
    </footer>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/TestStatisticsUsers.js")

