@model TestSystem.ViewModels.TestAdministration.TestTemplatesPartialViewModel
@{
    Layout = "";
}
<div id="TestNavigation">
    <button type="button" id="properties" class="btn btn-primary ">Properties</button>
    <button type="button" id="questions" class="btn btn-primary ">Questions</button>
</div>
<div id="questionList">

    @foreach (var question in Model.QuestionModels)
    {
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>question.Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    @foreach (var answer in question.Answers)
                    {
                        <p></p>
                        if (answer.IsCorrect == 1)
                        {
                            @Html.RadioButton(question.Name, answer.Name, new { disabled = "true", @checked = true })
                        }
                        else
                        {
                            @Html.RadioButton(question.Name, answer.Name, new { disabled = "true" })
                        }

                        @answer.Name
                        <br>
                    }
                </th>
            </tr>
            </tbody>
        </table>
    }
</div>

<div id="propertiesForm">
    @using (Html.BeginForm())
    {
        <div>
            <fieldset>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.EditorFor(m => m.Name)
                </div>
                @*<div class="form-group">
                        @Html.LabelFor(m => m.Language)
                        @Html.EditorFor(m => m.Language)
                    </div>*@
                <div class="form-group">
                    <p>
                        <input type="submit" value="Save changes" />
                    </p>
                </div>
            </fieldset>
        </div>
    }
    @using (Html.BeginForm("Upload", "TestAdministration", new { testId = Model.TestId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <input type="file" id="dataFile" name="upload" />
        </div>

        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    }
    @Html.ActionLink("Activate test", "ActivateTest", "TestAdministration", new { @id = "testActivateDialog" })
    @using (Html.BeginForm("ActivateTest", "TestAdministration", new { testId = Model.TestId }))
    {
        <div class="form-group">
            <input type="submit" value="Activate test" class="btn btn-default" />
        </div>
    }
</div>
<div id="dialog" style="display: none">
</div>
