
<div class="navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("ts", "TestTemplates", "TestAdministration", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Test templates", "TestTemplates", "TestAdministration")</li>
                <li>@Html.ActionLink("Tests", "Test", "TestAdministration")</li>
                <li>@Html.ActionLink("Users", "UserList", "Account")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("LogOut","Logout","Account");
                </li>
            </ul>
        </div>
    </div>
</div>