@model IEnumerable<TestSystem.ViewModels.UserTests.TestListViewModel>

@Styles.Render("~/Content/UserTestList.css")

<section class="item-container">
    @foreach (var userTest in Model)
    {
    <div class="user-test">
        <div></div>
        <ul>
            <li>@userTest.Test.Name</li>
            <li>duration @userTest.Test.Duration min</li>
        </ul>
        <a href='@Url.Action("Test", "UserTests", new { userTestId = userTest.UserTestId }, null)'>start</a>
    </div>
    }
    <div class="no-test-assigned">
        <svg viewBox="0 0 24 24">
            <path d="M19 2h-4.18C14.4.84 13.3 0 12 0c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm7 18H5V4h2v3h10V4h2v16z" />
            <path d="M0 0h24v24H0z" fill="none" />
        </svg>
        <span>No tests assigned right now...</span>
    </div>
</section>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/UserTestList.js")